body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.LoginContainer{
    display: block;
    width:40%;
    margin-left:auto;
    margin-right: auto;
}


.contactsblock{
    display: block;
}