.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 80px;
    backdrop-filter: blur(5px);
    z-index: 3;
}


.sidenav a{
    padding: 8px 8px 8px 8px;
    margin: 7px 5px;
    text-decoration: none;
    font-size: 5px;
    color: #818181;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 2.7vw;
    min-width: max-content;
}

.items-container {
    display:flex;
    flex-direction: column;
}

.sidenav a:hover {
    background-color: white;
}

.blur {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.pageblur {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.61);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 2; 
    display: none;
}

.sidenav > .image {
    background: url('../images/logo/Logo-Talentenschool-turnhout-3425386039.png') no-repeat center;
    height: 80px;
    width: 100%;
    background-size: contain;
}

#close-nav-mobile {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #818181;
}

.mobile-nav-open {
    text-align: left;
    font-size: 25px;
}

.navblock > .navbar-mobile {
    align-items: center;
    height: 100%;
}

.mobile-nav-toggle {
    background: none;
    border: none;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 900px) {
    .grid-container {
        grid-template-columns: auto 50%;
        grid-template-areas:
            'nav user'
            'conte conte';
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }

        .sidenav > img {
            width: 50%;
        }
}