:root {
--hoofdachtergrond: #939598;
--blokachtergrond: #ffffff;
--websiteachtergrond: #f3eff5;
--subblok1: #f4d8ba;
--subblok2: #acc491;
--subblok3: #eac2d4;
--accent1: #f7941e;
--accent2: #8cc63f;
--accent3: #ec008c;
--accent4: #25aae1;
--letterkleur: #000000;
--font-family: ubuntu;
}

body {
    background-color: var(--websiteachtergrond);
    font-family: var(--font-family);
    color: var(--FontColor);
    margin: 10px;
    width: 100%;
    height: 100vh;
    margin: 0px;
}


img{
width: 70%;
}

.titel{
font-size: 200%;
}

.navblock {
grid-area: nav;
}

.contactsblock {
grid-area: conta;
}

.userblock {
grid-area: user;
}

.contentblock {
grid-area: conte;
}

.grid-container {
display: grid;
grid-template-columns: 15% auto 12%;
grid-template-areas:
    'nav conta user'
    'nav conte conte';
background-color: var(--hoofdachtergrond);
padding: 7px;
border-radius: 10px;
gap: 7px;
}

.grid-container > div {
    background-color: var(--blokachtergrond);
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
}

.grid-container > .contentblock {
    padding: 5px;
}

.container-content > .sub {
    width: 25%;
    padding: 50px 0px;
    margin: 5px 5px 5px auto;
}

.container-content > .content {
    position: absolute
}

.container-content > div {
    border-radius: 20px;
}

.sub-block1 {
    background-color: var(--subblok1)
}

.sub-block2 {
    background-color: var(--subblok2)
}

.sub-block3 {
    background-color: var(--subblok3)
}

.navbar-desktop {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.navbar-desktop > a {
    display: block;
    border: 1px solid black;
    border-radius: 50px;
    padding: 2px;
    margin: 10px 0;
}

.navbar-desktop > a:hover{
    background: red;
}