:root {
    --hoofdachtergrond: #939598;
    --blokachtergrond: #ffffff;
    --websiteachtergrond: #f3eff5;
    --subblok1: #f4d8ba;
    --subblok2: #acc491;
    --subblok3: #eac2d4;
    --accent1: #f7941e;
    --accent2: #8cc63f;
    --accent3: #ec008c;
    --accent4: #25aae1;
    --letterkleur: #000000;
    --font-family: 'Ubuntu';
}

body {
    background-color: var(--websiteachtergrond);
    font-family: var(--font-family);
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--letterkleur);
}

#mainform {
    background-color: var(--blokachtergrond);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

#rf-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--letterkleur);
    font-size: 48px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.TxtEmail {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--subblok2);
    border-radius: 5px;
    background-color: var(--subblok3);
    color: var(--letterkleur);
}

CheckBox {
    margin-right: 10px;
}

.Btnregistreer {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--accent1);
    color: var(--blokachtergrond);
    font-weight: bold;
}

Btnregistreer:hover {
    background-color: var(--accent4);
}

.text-success {
    color: green;
    font-weight: bold;
}

.text-danger {
    color: red;
    font-weight: bold;
}